<style>
    body 
    {
      font-family:Arial; 
      background: -webkit-linear-gradient(to right, #155799, #159957); 
      background: linear-gradient(to right, #155799, #159957); 
      color:whitesmoke;
    }
  
  
  .form-head .title-text
  
  {
    display: flex;
    width: 200%;
  }
  
  .form-head .title
  {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    margin-top: 25px;
  }
  
    form{
        width:35rem;
        margin: auto;
        background: whitesmoke;
    }
    
    input{
        width: 100%;
        margin: 10px 0;
        border-radius: 5px;
        padding: 15px 18px;
        box-sizing: border-box;
      }
    
    button {
        background-color: #030804;
        color: white;
        padding: 14px 20px;
        border-radius: 5px;
        margin: 7px 0;
        width: 100%;
        font-size: 18px;
      }
    
    button:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    
    button {
        background-color: #030804;
        color: white;
        padding: 14px 20px;
        border-radius: 5px;
        margin: 7px 0;
        width: 100%;
        font-size: 18px;
      }
    
    button:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    
    form{
        width:35rem;
        margin: auto;
        color: black;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: whitesmoke;
        border-radius: 12px;
        border: 1px solid lightgrey;
        
      }
    
    .headInput{
        text-align: center;
    }
    .mainInput{
        padding: 16px;
    }
    
    
    </style>
    <br><br> <br>  
   
    
    
    <form action="/adminlogin/adminlogin" method="post"> 
      <div class="form-head">
        <div class="title-text">
           <div class="title login">
              Sign In
           </div>
           </div>
           </div><br><br>
        <!-- Main container for all inputs -->
        <div class="mainInput">
            <!-- Username -->
            <label for="username" id="username">Username</label>
            <input type="text" placeholder="Enter Username" name="username" required>
    
            <br><br>
    
            <!-- Password -->
            <label for="pswd">Password</label>
            <input type="password" placeholder="Enter Password" name="pswd" required>
    
            
            <!-- Submit button -->
            <button type="submit">Sign In</button>
    
        </div>
    
    </form>
    
    