<style>
body 
{
  font-family:Arial; 
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
      
}
    
.button 
{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
  border: 2px solid white;
}
</style>
    
  <table border=0 width="100%" id="reservationTable">
    <tr style="height:120px;"></tr>
    <tr>
      <td colspan=6 class="cartHeads" style="font-size:30px; text-align:left;">Reservation Details</td>
    </tr>
    
    <tr>
      <td></td>
      <td class="reservedetails" width="10%">NO</td>
      <td class="reservedetails" style="text-align:left;" width="40%">Employee Name</td>
      <td class="reservedetails" width="10%">Room Number</td>
      <td class="reservedetails" width="10%">Date</td>
      <td class="reservedetails" width="10%">Start Time</td>
      <td class="reservedetails" width="10%">End Time</td>
      <td class="reservedetails" width="10%">Status</td>
    </tr>
</table>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<table id="change">
  <tr>
      <form method="get" action="/form/form">
          <button class="button edit">Edit</button>
        </form>
  </tr>
    <tr>
        <form method="get" action="/delete/delete">
            <button class="button delete">Delete</button>
          </form>
    </tr>

</table>
