<style>
    body 
    {
      font-family:Arial; 
      background: -webkit-linear-gradient(to right, #155799, #159957); 
      background: linear-gradient(to right, #155799, #159957); 
      color:whitesmoke;
    }
    
  
    </style>

<div style="padding:30px;">
		
  <table border=0 width="100%" id="reservationTable">
    <tr style="height:120px;"></tr>
    <tr>
      <td colspan=6 class="cartHeads" style="font-size:30px; text-align:left;">Reservation Details</td>
    </tr>
    
    <tr>
      <td></td>
      <td class="reservedetails" width="10%">NO</td>
      <td class="reservedetails" style="text-align:left;" width="40%">Employee Name</td>
      <td class="reservedetails" width="10%">Room Number</td>
      <td class="reservedetails" width="10%">Date</td>
      <td class="reservedetails" width="10%">Start Time</td>
      <td class="reservedetails" width="10%">End Time</td>
      <td class="reservedetails" width="10%">Status</td>
    </tr>
</table>

