<style>
body 
{
  font-family:Arial; 
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
      
}
    
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>

<h2>Reservation Details</h2>

<table style="width:100%">
  <tr>
    <th>Room No</th>
    <th>Employee Name</th>
    <th>Employee Email</th>
    <th>Employee Phone</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
</table>