<style>
    body 
    {
      font-family:Arial; 
      background: -webkit-linear-gradient(to right, #155799, #159957); 
      background: linear-gradient(to right, #155799, #159957); 
      color:whitesmoke;
    }
    
    h2{
        text-align: center;
    }

    h4{
        text-align: center;
    }

    #logo 					/*big logo in fixed position*/
{
	width:110px;
	height:110px;
	margin-top:7px;
	margin-left:5px;
}
    </style>


	<table>
	    <tr>
        <td width=300px align="right">
			    <img src="/images/logo.jpg" id="logo">
			</td>
    </table>

<h2> You have logged out</h2>
<h4> Thank You </h4>
   