<style>
body                      
{
  font-family:Arial; 
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
}

h2{
    text-align: center;
}

.roomDetails 		/*div tag including room image and description*/
{
	margin-left:20px;
	margin-right:20px;
	border:2px solid black;
}

.roomImage			/*room image*/
{
	margin-left:22px;
	margin-right:20px;
	width:280px;
	height:280px;
	margin-top:15px;
    
}


.roomDescription		/*room description*/
{
	margin-left:22px;
	margin-right:22px;
	font-size:15px;
	font-family:trebuchet ms;
	color:black;
	text-align:justify;
}


#book 			/*table used for the booking*/
{
	margin-left:0px;
	margin-bottom:10px;
}

#bookRoom 					/*book button*/
{
	background:url("Images/cart.png");
	height:40px;
	width:40px;
	border:0px;
	cursor:pointer;
	background-color:transparent;
	background-size:cover;
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.form {
    background-color: darkslategrey;
    width: 100%;
} 
.form:hover {
    background-color: gray;
}


</style>


<h2> List of Meeting Rooms </h2>
<table width="100%">
    <tr>
        <td>
            <div class="roomDetails">		<!--Room 1-->
                <img src="/images/Room1.jpg" class="roomImage">
                <p class="roomDescription"><b>Room 01</b> <br> Location: Bulding A1 <br> Capasity:30 persons</p>

            <table id="book">
                    <tr>
                        <td width="225px" align="right"><button type="booking" id="bookRoom"></button></td>
                    </tr>
                </table>
            </div>
        </td>

        <td>
            <div class="roomDetails">		<!--Room 2-->
                <img src="/images/Room2.jpg" class="roomImage">
                <p class="roomDescription"><b>Room 02</b> <br> Location: Bulding A2 <br> Capasity:15 persons</p>
               
                <table id="book">
                    <tr>
                        <td width="225px" align="right"><button type="booking" id="bookRoom"></button></td>
                    </tr>
                </table>
            </div>
        </td>

        <td>
            <div class="roomDetails">		<!--Room 3-->
                <img src="/images/Room3.jpg" class="roomImage">
                <p class="roomDescription"><b>Room 03</b> <br> Location: Bulding A3 <br> Capasity:60 persons</p>
                
                <table id="book">
                    <tr>
                        <td width="225px" align="right"><button type="booking" id="bookRoom"></button></td>
                    </tr>
                </table>
            </div>
        </td>
   
        <td>
            <div class="roomDetails">		<!--Room 4-->
                <img src="/images/Room4.jpg" class="roomImage">
                <p class="roomDescription"><b>Room 04</b> <br> Location: Bulding A4 <br> Capasity:85 persons</p>
                
                <table id="book">
                    <tr>
                        <td width="225px" align="right"><button type="booking" id="bookRoom"></button></td>
                    </tr>
                </table>
            </div>
        </td>
</tr>
<tr>
    <td>
        <div class="roomDetails">		<!--Room 5-->
            <img src="/images/Room5.jpg" class="roomImage">
            <p class="roomDescription"><b>Room 05</b> <br> Location: Bulding A5 <br> Capasity:40 persons</p>
           
            <table id="book">
                <tr>
                    <td width="225px" align="right"><button type="booking" id="bookRoom"></button></td>
                </tr>
            </table>
        </div>
    </td>

        <td>
            <div class="roomDetails">		<!--Room 6-->
                <img src="/images/Room6.jpg" class="roomImage">
                <p class="roomDescription"><b>Room 06</b> <br> Location: Bulding A6 <br> Capasity:10 persons</p>
                
                <table id="book">
                    <tr>
                        <td width="225px" align="right"><button type="booking" id="bookRoom"></button></td>
                    </tr>
                </table>
            </div>
        </td>

        <td>
            <div class="roomDetails">		<!--Room 7-->
                <img src="/images/Room7.jpg" class="roomImage">
                <p class="roomDescription"><b>Room 07</b> <br> Location: Bulding A7 <br> Capasity:20 persons</p>
                
                <table id="book">
                    <tr>
                        <td width="225px" align="right"><button type="booking" id="bookRoom"></button></td>
                    </tr>
                </table>
            </div>
        </td>

        <td>
            <div class="roomDetails">		<!--Room 8-->
                <img src="/images/Room8.jpg" class="roomImage">
                <p class="roomDescription"><b>Room 08</b> <br> Location: Bulding A1 <br> Capasity:15 persons</p>
               
                <table id="book">
                    <tr>
                        <td width="225px" align="right"><button type="booking" id="bookRoom"></button></td>
                    </tr>
                </table>
            </div>
        </td>
</tr>
</table>
<br>
<form method="get" action="/form/form">
    <button class="btn form">Book</button>
</form>
