<style>
body                      
{
  font-family:Arial; 
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
}

h2{
    text-align: center;
}

.roomDetails 		/*div tag including room image and description*/
{
	margin-left:20px;
	margin-right:20px;
	border:2px solid black;
}

.roomImage			/*room image*/
{
	margin-left:22px;
	margin-right:20px;
	width:280px;
	height:280px;
	margin-top:15px;
    
}


.roomDescription		/*room description*/
{
	margin-left:22px;
	margin-right:22px;
	font-size:15px;
	font-family:trebuchet ms;
	color:black;
	text-align:justify;
}


#book 			/*table used for the booking*/
{
	margin-left:0px;
	margin-bottom:10px;
}

#bookRoom 					/*book button*/
{
	background:url("Images/cart.png");
	height:40px;
	width:40px;
	border:0px;
	cursor:pointer;
	background-color:transparent;
	background-size:cover;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.form {
    background-color: black;
    width: 100%;
} 

.form:hover {
    opacity: 0.6;
    cursor: pointer;
    border: 2px solid white;
}

.roomDetails:hover{
    background-color: rgb(51, 103, 103);
}
  
#selectBook 			
{
	margin-left:0px;
	margin-bottom:10px;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
  border: 2px solid white;
}



</style>


<h2> List of Meeting Rooms </h2>
<table width="100%">
    <tr>
        <td>
            <div class="roomDetails">		<!--Room 1-->
                <img src="/images/Room1.jpg" class="roomImage">
                <p class="roomDescription"><b>Room No 01</b> <br> Location: Bulding A1-section 1<br> Capasity:30 person</p>
                <table id="selectBook">
                    <tr>
                        <form method="get" action="/form/form">
                            <button class="button select">Select</button>
                          </form>
                    </tr>
                </table>
            </div>
        </td>

        <td>
            <div class="roomDetails">		<!--Room 2-->
                <img src="/images/Room2.jpg" class="roomImage">
                <p class="roomDescription"><b>Room No 02</b> <br> Location: Bulding A1-section 2 <br> Capasity:15 person</p>
                <table id="selectBook">
                    <tr>
                        <form method="get" action="/form/form">
                            <button class="button select">Select</button>
                          </form>
                    </tr>
                </table>
            </div>
        </td>

        <td>
            <div class="roomDetails">		<!--Room 3-->
                <img src="/images/Room3.jpg" class="roomImage">
                <p class="roomDescription"><b>Room No 03</b> <br> Location: Bulding A2-section 1 <br> Capasity:60 person</p>
                <table id="selectBook">
                    <tr>
                        <form method="get" action="/form/form">
                            <button class="button select">Select</button>
                          </form>
                    </tr>
                </table>
            </div>
        </td>
   
        <td>
            <div class="roomDetails">		<!--Room 4-->
                <img src="/images/Room4.jpg" class="roomImage">
                <p class="roomDescription"><b>Room No 04</b> <br> Location: Bulding A2-section 2 <br> Capasity:85 person</p>
                <table id="selectBook">
                    <tr>
                        <form method="get" action="/form/form">
                            <button class="button select">Select</button>
                          </form>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
<tr>
    <td>
        <div class="roomDetails">		<!--Room 5-->
            <img src="/images/Room5.jpg" class="roomImage">
            <p class="roomDescription"><b>Room No 05</b> <br> Location: Bulding A3-section 1 <br> Capasity:40 person</p>
            <table id="selectBook">
                <tr>
                    <form method="get" action="/form/form">
                        <button class="button select">Select</button>
                      </form>
                </tr>
            </table>
        </div>
    </td>

        <td>
            <div class="roomDetails">		<!--Room 6-->
                <img src="/images/Room6.jpg" class="roomImage">
                <p class="roomDescription"><b>Room No 06</b> <br> Location: Bulding A3-section 2 <br> Capasity:10 person</p>
                <table id="selectBook">
                    <tr>
                        <form method="get" action="/form/form">
                            <button class="button select">Select</button>
                          </form>
                    </tr>
                </table>
            </div>
        </td>

        <td>
            <div class="roomDetails">		<!--Room 7-->
                <img src="/images/Room7.jpg" class="roomImage">
                <p class="roomDescription"><b>Room No 07</b> <br> Location: Bulding A4-section 1 <br> Capasity:20 person</p>
                <table id="selectBook">
                    <tr>
                        <form method="get" action="/form/form">
                            <button class="button select">Select</button>
                          </form>
                    </tr>
                </table>
            </div>
        </td>

        <td>
            <div class="roomDetails">		<!--Room 8-->
                <img src="/images/Room8.jpg" class="roomImage">
                <p class="roomDescription"><b>Room No 08</b> <br> Location: Bulding A4-section 2 <br> Capasity:15 person</p>
                <table id="selectBook">
                    <tr>
                        <form method="get" action="/form/form">
                            <button class="button select">Select</button>
                          </form>
                    </tr>
                </table>
            </div>
        </td>
</tr>
</table>



    
